/* styles.css */

/* Style header */
header {
  display: flex;
  background: lavender;
  color: purple;
  justify-content: center;
  margin-bottom: 10%;
  font-size: xx-large;
}

/* Body styles */
aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 15%;
  border: 2px solid purple;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
  text-align: center;
  text-shadow: 0 0 10px white(0, 191, 255);

}
 /*  input style */
input {
  color: blueviolet;
  font-style: bolder;
  border-radius: 3em;
  background-color: white;
  border-color: black;
  width: 80%;
  margin-bottom: 10px;
  margin-left: 10px;
  height: 30px;
  padding: 5px; 
  justify-content: flex-end;
}

/* button style */
Button {
  color: blueviolet;
  font-style: bolder;
  border-radius: 3em;
  background-color: white;
  border-color: black;
  width: 80%;
  margin-bottom: 10px;
  margin-left: 10px;
  height: 30px;
  padding: 5px; 
}

/* weather row */
.weatherBlock {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.todayWeather {
display: flex;
justify-content: center;
align-items: center;
margin: auto;
position: relative;
max-width: fit-content;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15%;
  margin-left: 15%;
}

/* Style footer */
footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  background-color: lavender;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  column-gap: 15px;

}